# Next.js
.next/
out/

# wrangler
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# dependencies
node_modules

# OpenNext
.open-next

# typescript build info
*.tsbuildinfo

# macOS
.DS_Store